.style_text_main {
  background-image: linear-gradient(270deg, #dc2626, #7c3aed);
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  animation: shimmer 3s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.custom-text {
  text-align: justify;
  word-spacing: -2px;
}
